/* FONT ACQUISITION */
@font-face {
    font-family: RussoOne;
    src: url("./public/fonts/RussoOne-Regular.ttf");
}

@font-face {
    font-family: SourceCodeMedium;
    src: url("./public//fonts/SourceCodePro-Medium.ttf");
}

@font-face {
    font-family: SourceCodeBold;
    src: url("./public/fonts/SourceCodePro-Bold.ttf");
}

/* DEFAULT BROWSER CSS RESET */

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    vertical-align: middle;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html, body {
    background-color: #fff;
}

html {
    font-family: SourceCodeMedium;
    font-size: 62.5%; /* 1rem equals to 10px */
}

/* APP CUSTOM STYLES
--------------------- */

/* --HEADER STYLES -- */
.header {
    background: linear-gradient(to bottom right, #393939, #000);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}
@media screen and (max-width: 900px) {
    .header {
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
    }
}

.header__side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}
@media screen and (max-width: 900px) {
    .header__side:first-child {
        margin-bottom: .5rem;
    }
}

.header__logo {
    width: 100%;
    max-width: 5rem;
    margin-right: 1rem;
}
@media screen and (max-width: 900px) {
    .header__logo {
        max-width: 3rem;
    }
}

.header__logo--inactive:hover {
    display: none;
}
.header__logo--inactive:hover + .header__homelink {
    display: block;
    cursor: pointer;
}
.header__homelink {
    display: none;
}
.header__title {
    font-family: RussoOne;
    font-size: 1.5rem;
}
.header__subtitle {
    font-style: italic;
}
/* --End of HEADER STYLES -- */

/* --MAIN DISPLAY STYLES -- */
.mainDisplay {
    min-height: calc(100vh - 15rem);
}
/* --End of MAIN DISPLAY STYLES -- */

/* --FOOTER STYLRES -- */
.footer {
    height: 10rem;
    position: relative;
    background: linear-gradient(to bottom right, #000, #393939);
}

.footer__tab {
    position: absolute;
    left: 50%;
    top: -1rem;
    transform: translateX(-50%);
    height: 2rem;
    width: 4rem;
    background-color: red;
}
.footer__tab:hover {
    cursor: grab;
}
/* --End of FOOTER STYLES -- */